<h1> Create an account here: </h1>
<form action="/users" method="POST">
Username: 
<input type="text" name="username">
Password: 
<input type="password" name="password">
<br>
<br>
<input type="submit" value="create_account">
</form>