<h1>Create a new user here:</h1>
<form action="/signup" method="POST">
Chose a username: 
<input type="text" name="username">
Chose a password: 
<input type="password" name="password">
<br>
<br>
<input type="submit" value="Create account">
</form>